*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1146px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.body {
    font-family: Montserrat;
}

.header {
    /* margin-bottom: 30px; */
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}
.header  .nav-start {
    display: flex;
    justify-content: space-between;
    display: flex;
width: 1110px;
padding: 16px;
align-items: center;
margin-right: auto;
margin-left: auto;
margin-top: 20px;

}

.header  .nav-start .down {
    display: flex;
    padding: 8px 9px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
background: #E0E0E0;
cursor: pointer;
}

.header  .nav-start .down h4 {
    color: #000;
    font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.header  .nav-start .head p {
    color: #000;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.header  .nav-start .head {
    display: flex;
    gap: 30px;
    align-items:center;
}

.header  .nav-start  .Search input {
    border:none;
}

.header  .nav-start  .Search {
    border: none;
    display: flex;
padding: 8px 9px;
align-items: center;
gap: 8px;
flex: 1 0 0;

border-radius: 8px;
border: 1px solid #9E9E9E;

width: 276px;
height: 35px;
}

.header .nav-end button{
    display: flex;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
border:none;
border-radius: 8px;
background: #624DE3;
cursor: pointer;
width: 140px;
height: 32px;
}
.header .nav-end button:hover {
    background:#3826ac;
}
.header .nav-end button h4 {
    color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

table .span {
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
table  {
  width: 1110px;
   height: 50px;
   align-items:center;
   margin-left: 120px;
   text-align: center;
margin-bottom: 10px;




}
.table-1  {
    background: #F7F6FE; ;
}
.hat span {
 padding-bottom:5px ;
  align-items:center;

}

table .hat {
   text-align: center;
    align-items:center
}

th, td {
    align-items:center;
}

th {
    text-align: left;
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.table-1 .hat img {
   gap: 20px;
}

  


.table-1  {
  padding-top: 15px;
  padding-bottom: 15px;
    width: 1110px;
    height: 64px;
    align-items:center;
     text-align: center;
     display: flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;


}

table img {
    cursor: pointer;
 margin-left: 40px;

}

table  td {
width: 1110px;
height: 64px;
margin-top: 30px;
gap: 16px;
margin-left: 100px;
align-self: stretch;
text-align: center;


color: #000;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;


}


table .line-1 {
    display: flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
color: #000;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


table  .date-1 {
   padding-left: 40px;
}